header{
    margin: 2.5rem 0rem;
}
#account_button{
    width: 25%;
    margin: 0rem 0.5rem;
}

main{
    background-color: black;
    height: 120vh;
}

#principal_background{
    
    padding: 20% 0%;
    height: 100%;
    
}

#welcome_message{
    font-size: 10em;
    color: white;
}