

#porter{
    height: 55vh;
    width: 100%;
    background-color: darkgoldenrod;
}

#main_about{
    position: relative;
    margin: 15px;
    margin-top: 100px;
}


.anchor{
    cursor: pointer;
    color: white;
}

.div_info{
    margin: 25px;
}

#navbarHome{
    position: relative;
    top: 0px;
    width: 100%;
    margin-bottom: 100px;
    z-index: 10;

}

footer{
    display: flex;
    background-color: black;
    position: relative;
    bottom: 0px;
    height: 100px;
    width: 100%;
    padding: 15px 2.5% 1px 2.5%;
    
}



footer a{
    color: white;
    margin: auto 0.5% auto 2.5%;
}

